PAGINACIÓN WEB FULLSTACKJS
Desarrollar una tienda online donde se muestre un listado de artículos dividido en 10 por
página, con dos controles: ‘anterior’ y ‘siguiente’.
Cada artículo será mostrado en una tarjeta que deberá contener los siguientes datos:
nombre, relevancia y precio.
En la parte superior de la aplicación habrá 3 botones para ordenar los artículos por nombre,
relevancia o precio tanto de manera ascendente como descendente (alternativamente cada
vez que se pulsa en dicho botón). Los datos siempre se mostrarán ordenados de 10 en 10.
Al pinchar en un artículo se mostrarán tanto los datos del producto como los de su
fabricante. Los fabricantes tendrán un nombre, un CIF y una dirección.
La información de los artículos y sus fabricantes deberá ser guardada en una base de
datos.
Además, habrá un buscador que permitirá buscar por el nombre del artículo y/o del
fabricante.
Se pide:
1. Implementar el código frontend y backend de la aplicación descrita.
2. Diseñar y crear la base de datos, y exportarla a los ficheros correspondientes.
3. Subir el proyecto completo a GitHub.
Notas adicionales
- El frontend debe hacerse con React funcional (NO de clases).
- El backend debe hacerse con Node.js y Express.
- Para montar la base de datos se podrá elegir entre PostgreSQL/MySQL o MongoDB
y posteriormente deberá justificarse la decisión en la defensa del proyecto. Se
valorará el uso de algún ORM u ODM adicional como Sequelize o Mongoose.
- Se permite el uso de paquetes npm y recursos de terceros, en toda la aplicación.
- Se valorará especialmente la realización de pruebas unitarias mediante el uso de
React Testing Library, Jest, Enzyme o cualquier otra librería que se desee.
- Se valorará positivamente presentar la aplicación desplegada en cloud.
- Se prestará especial atención a un código limpio, legible, bien documentado,
correctamente versionado y fácil de mantener, así como a la aplicación sobre el
mismo de los principios SOLID.