.footer {
    background-color: #3B5BA7;
    width: 100%;
    height: 5vh;
    overflow: hidden;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: white 3px;
    border: solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    div {
        width: 90%;
        background-color:#FECA1B;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-color: black 3px;
        border: solid;
    }
    div > a {
        text-decoration: none;
        background: #FECA1B;
        color: red;
        font-weight: bold;
    }
}