.header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    border-color: black solid 3px;
    box-sizing: border-box;
    & > h4{
    background: none;
    font-size: 1.2em;
    color: whitesmoke;
    }
    &--nav  {
        width: 90%;
        background-color:#7E1F00;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-color: whitesmoke 2px;
        border: solid;
        ul {
            background: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
        ul > li > a  {
            text-decoration: none;
            background: #7E1F00;
            color: whitesmoke;
            font-weight: bold;
        }
    }
}