.home {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    p {
        margin: 15px 0;
        padding: 5px;
        font-size: 0.9em;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-color: black 3px;
        border: solid;
        b {
            color: red;
        }
    }
}
.nameContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: none;

}
.pokeName {
    text-transform: capitalize;
    height: 30px;
    width: 40%;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: black 1.5px;
    border: solid;
    
}
// .form {    
//     height: 100%;
//     width: 85%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background: none;
//     p {
//         margin: 15px 0;
//         padding: 5px;
//         font-size: 0.9em;
//         width: 100%;
//         justify-content: center;
//         box-sizing: border-box;
//         border-radius: 5px;
//         -o-border-radius: 5px;
//         -ms-border-radius: 5px;
//         -moz-border-radius: 5px;
//         -webkit-border-radius: 5px;
//         border-color: black 3px;
//         border: solid;
//     }
//     input {
//         height: 30px;
//         box-sizing: border-box;
//         border-radius: 5px;
//         -o-border-radius: 5px;
//         -ms-border-radius: 5px;
//         -moz-border-radius: 5px;
//         -webkit-border-radius: 5px;
//         border-color: black 3px;
//         border: solid;
//         margin-bottom: 25px;
//     }
// }






// Media Queries
// TABLET
@media (min-width: 769px) {
    .pokeName {
        width: 45%;
    }
}
// LAPTOP
@media (min-width: 1280px) {
    .pokeName {
        width: 30%;
    }
}
// MONITOR
@media (min-width: 1920px) {
    .pokeName {
        width: 24%;
    }
}